.swiper {
  width: 100%;
  height: auto;
  img {
    width: 100%;
    border-radius: 10px;
  }
}
.img-beforeafter {
  width: 100%;
  object-fit: contain;
  img {
    width: 100%;
    height: auto;
  }
}
