.swiper {
  width: 100%;
  height: auto;
  img {
    width: 100%;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}
.img-beforeafter {
  width: 100% !important;
  object-fit: contain;

  img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
  }
}
