<nav class="navbar navbar-dark bg-dark navbar-expand-lg p-2 px-4 navbar-gallery">

  <a href="#" class= "navbar-brand" data-gallery-target="button" data-action="click->gallery#displayimages" ><i class="fa-solid fa-angle-up me-3" data-gallery-target="arrow"></i><%= name %></a>
  <div class="collapse navbar-collapse" >
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-gallery-item">
      <i class="fa-solid fa-location-dot mt-2 fs-5"></i>
      <li class="nav-item nav-link me-3">
        <%= place %>
      </li>
      <i class="fa-solid fa-calendar mt-2 fs-5"></i>
      <li class="nav-item nav-link me-3">
        <%= date %>
      </li>
      <i class="fa-solid fa-user mt-2 fs-5"></i>
      <li class="nav-item nav-link me-3">
        <%= people %>
      </li>
    </ul>
  </div>
  <button class="btn btn-success float-right me-3 d-none" data-gallery-target="DownloadButton" data-action="click->gallery#DownloadButton">Download 0 files</button>

  <button class="btn btn-secondary float-right" data-gallery-target="SelectButton" data-action="click->gallery#displaySelectButton" >Select images</button>
</nav>
