<nav class="navbar navbar-dark bg-dark navbar-expand-lg  p-2 px-4  navbar-gallery">
  <%#= link_to  name , root_path, class: "navbar-brand" %>
  <a href="#" class= "navbar-brand"><%= name %></a>
  <div class="collapse navbar-collapse" >
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-gallery-item">
      <i class="fa-solid fa-location-dot mt-2 fs-5"></i>
      <li class="nav-item nav-link me-3">
        <%= place %>
      </li>
      <i class="fa-solid fa-calendar mt-2 fs-5"></i>
      <li class="nav-item nav-link me-3">
        <%= date %>
      </li>
      <i class="fa-solid fa-user mt-2 fs-5"></i>
      <li class="nav-item nav-link me-3">
        <%= people %>
      </li>
    </ul>
  </div>
</nav>
