<div class="container" data-controller="carousel">
  <!-- Slider main container -->
  <div class="swiper mySwiper mt-3">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <% @carousel["pics-carousel"].each do |pic|%>
        <div class="swiper-slide"><%= image_tag( pic["source1"], :alt => "img Philippines", data: {carousel_target: "images", action: "click->carousel#changebefafpic", img_id: path_to_image(pic["source2"])}) %></div>
      <% end %>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <div class= "img-beforeafter my-5" >
    <div data-carousel-target= "imagebefaf" id="beforeafter">
      <div class="juxtapose" >
        <%= image_tag(@carousel["pics-carousel"].first["source2"], :alt => "img Philippines") %>
        <%= image_tag( @carousel["pics-carousel"].first["source1"], :alt => "img Philippines") %>
      </div>
    </div>
  </div>
</div>
