<div class="container pt-5">
  <h1 class= "text-center pb-3">A Simple Gallery</h1>
  <h4> This is still in development! </h4>
  <p>
    I am currently working on this project, the goal is to create a gallery
    which is:
    <ul>
      <li> responsive </li>
      <li> dowloadable </li>
      <li> simple </li>
    </ul>
  </p>
  <p>
    I used different tools to create this page:
    <ul>
      <li> Ruby on rails </li>
      <li> Bootstrap for the component styles </li>
      <%# <li> Fancybox for the picture viewer </li> %>
    </ul>
  </p>
  <p>
    Next goals:
    <ul>
      <li> Downloadable content </li>
    </ul>
  </p>
</div>
<div data-controller="gallery">
  <%= render :partial => "navbar-gallery", locals: { name: "Example 1", date: "05.09.19-20.01.20", people: 2, place: "Philippines"  } %>
  <%= render :partial => "gallery-pictures", locals: { images: @gallery1 } %>
</div>
<%= render :partial => "navbar-gallery", locals: { name: "Example 2", date: "21.01.20-20.04.20", people: 2, place: "Philippines"  } %>
<%= render :partial => "gallery-pictures", locals: { images: @gallery2 } %>
