@import "bootstrap/scss/bootstrap";
@import "@fancyapps/ui/src/Fancybox/Fancybox";

@import "me/me";
@import "me/gallery/index";
@import "me/beforeafter/index";
@import "components/index";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap");

body.light {
  color: rgb(18, 18, 29);
  background-color: rgb(228, 228, 228);
}
body.dark {
  color: rgb(228, 228, 228);
  background-color: #212529;
  .col-content {
    box-shadow: none;
    border-right: solid 1px rgb(46, 46, 46);
  }
}
* {
  font-family: "Poppins", sans-serif;
}
